streamlit==1.33.0
requests
fpdf2
spacy==3.7.2
scikit-learn
pandas
numpy
joblib
tensorflow
python-dotenv
PyMuPDF==1.23.7  # ← tambahkan ini untuk 'import fitz'

# Tambahkan model bahasa untuk spaCy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
